%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        Memwault => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::Memwault',
            },
        },
    },
);

%Image::ExifTool::UserDefined::Memwault = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-Memwault', 2 => 'Image' },
    NAMESPACE => { 'Memwault' => 'http://memwault.com/xmp/1.0/' },
    WRITABLE => 'string',
    ViewerCount => { },
    LikeCount => { },
    MusicArtist => { },
    MusicTitle => { },
    ViewersLink => { },
    MomData => { },
    OgReelLikes => { },
    OgReelPlays => { },
);
1; #end